body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    color: #222;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header_media-tablet {
    display: none;
}

.header__wrapper {
    padding: 1% 0;
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 3.3%;
}

.header__logo-text {
    font-size: 27px;
    font-weight: 300;
    color: #222;
    padding-left: 14px;
}

.header__logo_special-case {
    color: #f16d7f;
    font-weight: 900;
}

.header__form {
    display: flex;
    border: 1px solid #e6e6e6;
    align-items: center;
}

.header__form-search {
    padding: 10px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #222;
    background: #f6f6f6;
}

.header__form-search:hover {
    cursor: pointer;
}

.header__form-input {
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #a4a4a4;
    padding-left: 16px;
    width: 305px;
}

[type="search"]{
    outline: none;
}

.fa-search {
    color: #a4a4a4;
    padding-right: 10px;
}

.fa-search:hover {
    cursor: pointer;
}

.header__controls {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__controls-cart {
    margin-right: 25px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.header__controls-cart:hover{
    opacity: 0.6;
}

.header__controls-cart:active, .header__controls-cart:focus{
    outline: none;
}

.header__btn-myaccount {
    width: 130px;
    padding: 5.5% 0;
    color: #fff;
    background: #f16d7f;
    border: none;
    font-size: 15px;
}

.header__btn-myaccount:hover{
    background: #e8e8e8;
    color: #000;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 3px solid #fff;
    padding: 1.3% 1.3%;
    position: relative;
}

.nav__link:hover::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #ef5b70;
    color: #f16d7f;
}

.nav__link:not(:last-of-type) {
    margin-right: 0.7%;
}

.nav__link-active{
    border-bottom: 3px solid #ef5b70;
}

.introduce {
    background: #e8e8e8 url(/img/section1_img.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 6.5%;
    padding: 220px 0 290px;
}

.introduce__wrapper {
    display: flex;
}

.introduce__text-wrapper {
    padding-left: 26px;
    position: relative;
}

.introduce__text-wrapper::before{
    content: '';
    display: block;
    width: 12px;
    height: 86px;
    background: #f16d7f;
    position: absolute;
    top: 9px;
    left: 0;
}

.introduce__text-title {
    font-size: 60px;
    font-weight: 900;
    display: block;
}

.introduce__text-subtitle {
    font-size: 40px;
    font-weight: 900;
}

.introduce__text-subtitle-spesial-case {
    color: #f16d7f;
}

.offer-cards {
    display: flex ;
    justify-content: space-between;
    margin-bottom: 6.5%;
}

.offer-cards__card {
    position: relative;
    text-transform: uppercase;
}

.offer-cards__card-img {
    display: block;
    max-width: 100%;
}

.offer-cards__card-text {
    position: absolute;
    top: 26px;
    left: 0;
    background: #fff;
    padding: 3%;
    font-size: 18px;
    font-weight: 900;
}

.offer-cards__card-text-subtitle {
    font-size: 30px;
    color: #f16d7f;
    padding-top: 4px;
}

.offer-cards__card-text-db {
    display: block;
}

.offer-cards__card:first-child{
    margin-bottom: 3%;
}

.fetured-items {
    margin-bottom: 8%;
}

.fetured-items__title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.fetured-items__subtitle {
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    padding: 1% 0 5% 0;
}

.fetured-items__items-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fetured-items__item {
    text-transform: uppercase;
    font-size: 13px;
    position: relative;
    margin-bottom: 40px;
}

.fetured-items__items-add-to-cart-btn_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 24%;
    left: 0;
    background: #3a3838;
    opacity: 83%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.fetured-items__items-add-to-cart-btn {
    background-image: url(/img/cart-white.png);
    background-position: 8% center;
    background-repeat: no-repeat;
    background-color: #3a3838;
    padding: 4% 4% 4% 16%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    display: block;
}

.fetured-items__items-add-to-cart-btn:hover {
    cursor: pointer;
}

.fetured-items__item:hover .fetured-items__items-add-to-cart-btn_wrapper{
    display: flex;
}

.fetured-items__item:hover {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.fetured-items__item-img {
    margin-bottom: 19px;
}

.fetured-items__item-text {
    padding-left: 15px;
    margin-bottom: 19px;
}

.fetured-items__item-title {
    margin-bottom: 19px;
}

.fetured-items__item-price {
    font-size: 16px;
    font-weight: 600;
    color: #f16d7f;
}

.fetured-items__item-text-db {
    display: block;
}

.fetured-items__button {
    background: #f16d7f url(/img/white_arrow.png) no-repeat 88% center;
    padding: 1.5% 5% 1.5% 2%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
}

.fetured-items__button:hover{
    background: #e8e8e8 url(/img/black_arrow.png) no-repeat 88% center;
    color: #000;
    cursor: pointer;
}

.feature {
    margin-bottom: 7%;
    background: #222224 url(/img/feature-bunner.jpg) no-repeat left center;
    display: flex;
    justify-content: space-between;
}

.feature__text-wrapper {
    padding: 13% 0 25.5% 3.5%;
    text-transform: uppercase;
    color: #fff;
}

.feature__text-title {
    display: block;
    font-size: 53px;
    font-weight: 600;
}

.feature__text-title-special-case{
    color: #f16d7f;
}

.feature__text-subtitle {
    font-size: 32px;
    font-weight: 600;
}

.feature__box-wrapper{
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 29.5%;
}

.feature__box {
    padding-left: 78px;
    padding-right: 43px;
}

.feature__box-title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 21px;
}

.feature__box-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.feature__box-icon-1 {
   background: url(/img/feature-box-icon-1.png) no-repeat;
}

.feature__box-icon-2 {
   background: url(/img/feature-box-icon-2.png) no-repeat;
}

.feature__box-icon-3 {
   background: url(/img/feature-box-icon-3.png) no-repeat;
}

.subscribe {
    background: url(/img/subscribe-bg.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 110px;
}

.subscribe__wrapper {
    display: flex;
    color: #222224;
    align-items: center;
}

.subscribe span {
    display: block;
}

.subscribe__comment-wrapper {
    background: url(/img/comment-foto.png) left top no-repeat;
    margin-top: 14%;
    margin-bottom: 17%;
    width: 50%;
}

.subscribe__comment-text-wrapper {
    padding-left: 120px;
    padding-right: 70px;
}

.subscribe__comment-text-p {
    font-style: italic;
    line-height: 26px;
}

.subscribe__comment-text-title {
    font-weight: 600;
    color: #f16d7f;
    padding-top: 10px;
}

.subscribe__comment-text-subtitle {
    font-size: 12px;
    font-weight: 300;
}

.rectangle, .rectangle-pink {
    background-color: #d6d6d6;
    width: 38px;
    height: 4px;
    display: inline-block;
    margin-top: 42px;
    margin-right: 10px;
}

.rectangle-pink {
    background-color: #f16d7f;
}

.subscribe__form-wrapper {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.subscribe__form-title {
    font-size: 24px;
    padding-bottom: 6px;
}

.subscribe__form-subtitle {
    font-size: 14px;
}

.subscribe__form {
    margin-top: 35px;
    display: flex;
}

.subscribe__form-input {
    border: none;
    outline: none;
    display: inline-block;
    background-color: #e1e1e1;
    border-radius: 20px 0 0 20px;
    padding: 18px 90px 18px 20px;
}

.subscribe__form-btn {
    background-color: #f16d7f;
    border: none;
    outline: none;
    display: inline-block;
    color: #fff;
    border-radius: 0 20px 20px 0;
    padding: 0 15px;
    font-size: 14px;
}

.subscribe__form-btn:hover{
    color: #000;
    cursor: pointer;
    background-color: #e1e1e1;
}

.main-footer {
    display: flex;
    margin-bottom: 100px;
}

.main-footer__text-wrapper {
    width: 43%;
}

.main-footer__text {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    padding-top: 24px;
    padding-right: 85px;
    line-height: 24px;
}

.main-footer__nav {
    display: flex;
    width: 57%;
}

.main-footer__nav-wrapper {
    width: 100%;
}

.main-footer__nav-title {
    display: block;
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 18px;
    font-weight: 600;
}

.main-footer__nav-link {
    display: block;
    text-decoration: none;
    color: #898989;
    padding-top: 30px;
}

.main-footer__nav-link:hover{
    color: #f16d7f;
}

.copyright {
    background-color: #e6e6e6;
}

.copyright__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright__text {
    color: #7a7a7a;
    margin: 32px 0;
}

.copyright__social-icon {
    padding: 7px 6px;
    background-color: #fff;
    text-decoration: none;
    color: #b2b2b2;
    margin-left: 8px;
}

.copyright__social-icon:hover {
    background-color: #f16d7f;
    color: #f7f7f8;
}

.copyright__social-icon:disabled {
    background-color: #eee;
    color: #d9d9d9;
}

/* product */

.breadcrumb {
    background-color: #f8f3f4;
    margin-bottom: 3.4%;
}

.breadcrumb-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.breadcrumb-title {
    font-size: 24px;
    font-weight: 900;
    color: #f16d7f;
    padding: 5.7% 0;
}

.breadcrumb-subtitle {
    font-size: 14px;
    font-weight: 300;
}

.breadcrumb-subtitle a {
    text-decoration: none;
    color: #636363;
}

.breadcrumb-subtitle-special-case {
  color: #f16d7f;
  font-weight: 600;
}

.product {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    color: #6f6e6e;
}

.product__sidebar {
    width: 25%;
}

.product__content {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.product__sidebar-toggler{
    display: none;
}

.product__sidebar-toggler:checked ~ .product__sidebar-nav {
    display: flex;
}

.product__sidebar-label {
    cursor: pointer;
    display: block;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-left: 5px solid #ef5b70;
    border-bottom: 2px solid #ebebeb;
    outline: none;
    margin-bottom: 6.4%;
    box-sizing: border-box;
}

.product__sidebar-label:hover{
    color: black;
}

.product__sidebar-nav {
    display: none;
    flex-direction: column;
}

.product__sidebar input{
    display: none;
}
.product__sidebar-label:before {
    content: '\f0d7';
    font-family: FontAwesome;
    float: right;
}

.product__sidebar-toggler:checked + .product__sidebar-label {
    color: #ef5b70;
}

.product__sidebar-toggler:checked + .product__sidebar-label:before {
    transition: transform .35s;
    transform: rotate(180deg);
}

.product_sidebar-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #6f6e6e;
    padding: 4% 0 4% 6%;
}

.product_sidebar-link:hover {
    color: #ef5b70;
}

.product__filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.7%;
    width: 100%;
}

.product__filter-item {
    width: 31%;
}

.product__filter-item_trending {
    width: 240px;
}

.product__filter-item-title {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.product__filter-item-trend{
    display: inline-block;
}

.product__filter-item-trend:not(:nth-child(3n)) {
    padding-right: 10px;
    border-right: 2px solid #e8e8e8;
}

.product__filter-item-trend:nth-child(-n + 3) {
    margin-bottom: 10px;
}

.product__filter-item-trend:not(:first-child, :nth-child(4n)){
    padding-left: 10px;
}

.product__filter-item_size {
    width: 240px;
}

.product__filter-item-wrapper_size {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product__filter-size-item {
   width: 25%; 
}

.product__filter-size-item:nth-child(-n+4) {
    margin-bottom: 10px;
}

.product__filter-size-check{
    margin: 0;
}

.product_form-field_price-range{
    width: 100%;
    margin-bottom: 13px;
}

.product_form-field_price-range::-webkit-slider-runnable-track {
  height: 11px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f0f0f0;
  border-radius: 25px;
  border: 0px solid #000101;
}

.product_form-field_price-range::-webkit-slider-thumb {
  border: 10px solid #f16d7f;
  background: #f16d7f;
  cursor: pointer;
  margin-top: -3.6px;
}
.product_form-field_price-range:focus::-webkit-slider-runnable-track {
  background: #f16d7f;
}

.span-block{
    display: inline-block;
}

.right {
    float: right;
}

.product__sorter {
    background: #f3f3f3;
    padding: 0.8% 0 0.8% 1.1%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.product__sorter-text, .product__sorter-btn {
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    color: #6f6e6e;
}

.product__sorter-text{
    padding: 9px 12px;
    border-right: none;
}

.product__sorter-btn {
    padding: 7px 10px;
    margin-right: 10px;
}

.product__cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product_product_add-to-cart-btn {
    background-image: url(/img/cart-white.png);
    background-position: 8% center;
    background-repeat: no-repeat;
    background-color: #3a3838;
    padding: 4% 4% 4% 16%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    display: block;
    border-radius: 4px;
    margin-bottom: 3.2%;
}

.product_product_add-to-cart-btn:hover,
.product_product_retweet-btn:hover,
.product_product_heart-btn:hover {
    cursor: pointer;
}

.product_product_btn-wrapper {
    display: flex;
    width: 48%;
    justify-content: space-between;
}

.product_product_retweet-btn, .product_product_heart-btn {
    background-color: #3a3838;
    color: #fff;
    font-size: 18px;
    outline: none;
    border: 1px solid #fff;
    padding: 6.7% 14.6%;
    border-radius: 4px;
}

.product__cards-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.product__cards-pagination {
    border: 1px solid #ebebeb;
    display: inline-block;
    padding: 15px 11px;
} 

  .product__link {
    margin: 0 2px;
    padding: 0 4px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #c4c4c4;
 }

.product__link:hover{
    color: #000;
}

.product__link-active {
    color: #ef5b70;
}

.product__cards-btn{
    padding: 15px 45px;
    border: 1px solid #ef5b70;
    background-color: #fff;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 300;
}

.product__cards-btn:hover{
    background-color: #ccc;
    color: #fff;
    border: 1px solid #fff;
}

.feature-box {
    background: #222224;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.feature-box__wrapper{
    color: #fbfbfb;
    display: flex;
    justify-content: space-between;
}

.feature-box__box {
    padding: 90px 0 117px;
}

.feature-box__title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 21px;
}

.feature-box__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 40px;
}

.feature-box__icon-1 {
   background: url(/img/feature-box-icon-1.png) no-repeat center top;
}

.feature-box__icon-2 {
   background: url(/img/feature-box-icon-2.png) no-repeat center top;
}

.feature-box__icon-3 {
   background: url(/img/feature-box-icon-3.png) no-repeat center top;
}

.feature-box__icon-1, .feature-box__icon-2, .feature-box__icon-3 {
    padding: 32px;
}

/* checkout */

.order {
    margin-bottom: 94px;
}

.order__form {
    display: flex;
    justify-content: space-between;
    color: #222;
    font-size: 13px;
}

.order__item {
    border-bottom: 1px solid #e8e8e8;
    padding: 28px 0;
}

.order__item-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.order__item-title:hover{
    cursor: pointer;
    color: #f16d7f;
}

.order__item-title::-webkit-details-marker {
  display:none;
}

.order-form__column{
    width: 50%;
    padding: 15px 35px;
}

.order-form__title {
    display: block;
    text-transform: uppercase;
    padding: 25px 0 18px 0;
}

.order-form__input-wrapper{
    margin-bottom: 23px;
}

.order-form__input-title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.order-form__subtitle{
    display: block;
    color: #b3b2b2;
    padding-bottom: 30px;
}

.order-form__advantage {
    padding-bottom: 10px;
}

.order-form__advantage::before {
    content: '\f101';
    font-family: FontAwesome;
    margin-right: 6px;
}

.order-form__check-title {
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 18px;
    display: block;
}

.order-form__check{
    margin-right: 10px;
}

.order-form__btn {
    border: 1px solid #eaeaea;
    background-color: #fff;
    padding: 20px 54px;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 32px;
}

.order-form__btn-mt{
    margin-top: 30px;
}

.order-form__btn:hover{
    cursor: pointer;
    background-color: #f8f3f4;
    color: #f16d7f
}

.order-form__input {
    display: block;
    padding: 18px 100px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
}

.order-form__special-case{
    color: #ff3030;
}

.order-form__special-case-db {
    display: block;
    padding-bottom: 32px;
}

/* single-page */

.breadcrumb_no-marg{
    margin: 0;
}

.product-card {
    margin-bottom: 763px;
}

.product-card__description {
    text-align: center;
    position: relative;
}

.product-card__picture-wrapper {
    background-color: #f7f7f7;
    position: relative;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    padding-top: 7px;
    padding-bottom: 42px;
}

.product-card__picture-btn {
    background-color: #d8d8d8;
    width: 47px;
    height: 47px;
    border: none;
    position: absolute;
    top: 365px;
    left: 0;
    color: #fff;
    font-size: 20px;
    outline: none;
}

.product-card__picture-btn_right{
    left: auto;
    right: 0px;
}

.product-card__picture-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}

.product-card__features{
    position: absolute;
    background-color: #fff;
    border: 1px solid #eaeaea;
    top: 691px;
    left: 50%;
    width: 1140px;
    margin-left: -570px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.product-card__features-wrapper{
    width: 642px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 63px;
}

.product-card__features-subtitle, .product-card__features-title {
    text-transform: uppercase;
    display: block;
}

.product-card__features-subtitle {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 600;
    margin-top: 72px;
}

.product-card__features-divider {
    width: 147px;
    height: 3px;
    margin: 10px auto;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.product-card__features-divider::before{
    content: '';
    display: block;
    height: 3px;
    width: 64px;
    background-color: #ef5b70;
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -32px;
}

.product-card__features-title {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 69px;
}

.product-card__features-text {
    font-size: 14px;
    color: #5e5e5e;
    font-weight: 300;
    margin-bottom: 30px;
}

.product-card__features-attribute {
    text-transform: uppercase;
    color: #b9b9b9;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 37px;
}

.product-card__features-attribute:not(:nth-child(2n)){
    padding-right: 45px;
}

.product-card__features-attribute_special-case {
    color: #2f2f2f;
}

.product-card__features-price {
    display: block;
    font-size: 24px;
    font-weight: 600;
    color: #ef5b70;
    margin-bottom: 47px;
}

.product-card__features-controls {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 560px;
}

.product-card__features-select-wrapper {
    margin-bottom: 28px;
}

.product-card__features-select-label{
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #2f2f2f;
    text-align: left;
    margin-bottom: 16px;
}

.product-card__features-select-btn, .product-card__features-select-input {
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    color: #bcbcbc;
    font-size: 13px;
    outline: none;
    padding-left: 14px;
}

.product-card__features-btn {
    background: #fff;
    border: 1px solid #ef5b70;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0 20px 30px;
    width: 560px;
    margin-bottom: 122px;
    position: relative;
    outline: none;
}

.product-card__features-btn-cart {
    fill: #ef5b70;
    position: absolute;
    top: 13px;
    left: 207px;
    
}

.product-card__features-btn:hover{
    cursor: pointer;
    background: #eaeaea;
}

.same-products{
    margin-bottom: 72px;
}

.same-products__wrapper {
    display: flex;
    justify-content: space-between;
}

.same-products-name {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 72px;
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 900;
}

.same-products-img {
    margin-bottom: 19px;
}

.same-products-title {
    display: block;
    font-size: 14px;
    color: #6f6e6e;
    text-transform: uppercase; 
    margin-bottom: 19px;
}

.same-products-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #f16d7f;
}

/* */

@media (max-width: 1200px){
    .container {
        width: 960px;
    }
    
    .feature {
        background: #222224 url(/img/feature-bunner-s.jpg) no-repeat left center;
    }
    
    .feature__text-wrapper {
        padding: 12% 0 20.8% 3.5%;
    }
    
    .feature__text-title {
        font-size: 40px;
    }
    
    .feature__text-subtitle {
        font-size: 30px;
    }
    
    .feature__box-wrapper{
        width: 39%;
    }
    
    .feature__box {
        padding-left: 78px;
        padding-right: 30px;
    }

    .feature__box-title {
        font-size: 18px;
        padding-bottom: 14px;
    }

    .feature__box-text {
        font-size: 14px;
        line-height: 18px;
    }
    
    
}

@media (max-width: 992px){
    .container {
        width: 720px;
    }
    
    .header {
        display: none;
    }

    .header_media-tablet {
        display: block;
        margin-bottom: 1%;
    }
    
    .header__wrapper {
        padding: 1% 0;
        display: flex;
        flex-wrap: wrap;
    }
    
    .header__logo {
        margin-bottom: 2%;
    }

    .header__form-search {
        padding: 10px;
        border: none;
        font-size: 14px;
        font-weight: 300;
    }

    .header__form-input {
        width: 626px;
    }
    
    .offer-cards__card-text {
        top: 14px;
        left: 0;
        padding: 2.5%;
        font-size: 13px;
    }

    .offer-cards__card-text-subtitle {
        font-size: 22px;
    }

    .offer-cards__card:first-child{
        margin-bottom: 0px;
    }

    .feature {
        background: #222224;
        display: block;
    }
    
    .feature__text-wrapper {
        text-align: center;
        padding: 5% 0;
    }
    
    .feature__text-title {
        font-size: 40px;
    }
    
    .feature__text-subtitle {
        font-size: 30px;
    }
    
    .feature__box-wrapper{
        width: 100%;
    }
    
    .feature__box {
        padding-left: 22%;
        padding-right: 30px;
    }

    .feature__box-title {
        font-size: 18px;
        padding-bottom: 3%;
    }

    .feature__box-text {
        font-size: 14px;
        margin-bottom: 4%;
    }
    
    .feature__box-icon-1, .feature__box-icon-2, .feature__box-icon-3 {
        background-position: 5% 0;
    }

    .subscribe__form-input {
        padding: 6% 10%;
    }

    .main-footer {
        flex-direction: column;
    }
    
    .main-footer__text-wrapper{
        width: 100%;
        margin-bottom: 5%;
    }
    
    .main-footer__text {
        font-size: 14px;
        padding-top: 2%;
        padding-right: 0;
        line-height: 18px;
    }
        
    .main-footer__nav {
        width: 100%;
        justify-content: space-between;
    }

    .main-footer__nav-link {
        font-size: 14px;
        padding-top: 12%;
    }
    
}

@media (max-width: 768px){
    .container {
        width: 540px;
    }
    
    .header__form-input {
        width: 446px;
    }
    
    .introduce {
        background: #e8e8e8;
        background-size: cover;
        margin-bottom: 6.5%;
        padding: 100px 0 100px;
    }
    
    .offer-cards {
        flex-direction: column;
    }    

    .offer-cards__card{
        margin-bottom: 15px;
    }
    
    .subscribe {
        background: #f2f2f2;
    }

    .subscribe__wrapper {
        display: flex;
        flex-direction: column;
    }

    .subscribe__comment-wrapper {
        background: url(/img/comment-foto.png) left top no-repeat;
        margin: 10% 0;
        width: 100%;
    }
    
    .subscribe__comment-text-wrapper {
        padding-left: 30%;
        padding-right: 12%;
    }

    .rectangle, .rectangle-pink {
        margin-top: 32px;
    }

    .subscribe__form-wrapper {
        margin: 0 auto 10%;
        text-align: center;
        text-transform: uppercase;
    }

    .subscribe__form-subtitle {
        font-size: 14px;
    }

    .subscribe__form {
        margin-top: 35px;
        display: flex;
    }

}

@media (max-width: 576px){
    .container {
        width: auto;
        padding: 0 15px;
    }
    
    .subscribe__form-input {
        border-radius: 15px 0 0 15px;
        padding: 14px 10px;
    }

    .subscribe__form-btn {
        border-radius: 0 15px 15px 0;
        padding: 0 18px;
    }
}