body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    color: #222;
}

header {
    border-bottom: 1px solid #ececec;
}

.header_wrapper {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header_logo > span {
    font-size: 27px;
    font-weight: 300;
    color: #222;
    padding-left: 14px;
}

.header_logo_special-case {
    color: #f16d7f;
    font-weight: 900;
}

.header_form {
    display: flex;
    margin-left: 38px;
    border: 1px solid #e6e6e6;
    align-items: center;
}

.header_form-search {
    padding: 10px 10px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #222;
    background: #f6f6f6;
}

.header_form-search:hover {
    cursor: pointer;
}

.header_form-input {
    border: none;
    font-size: 14px;
    font-weight: 300;
    color: #a4a4a4;
    padding-left: 16px;
    width: 305px;
}

[type="search"]{
    outline: none;
}

.fa-search {
    color: #a4a4a4;
    padding-right: 10px;
}

.fa-search:hover {
    cursor: pointer;
}

.header_controls {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.button-my_account {
    width: 130px;
    padding: 5.5% 0;
    color: #fff;
    background: #f16d7f;
    border: none;
    margin-left: 25px;
    font-size: 15px;
}

.button-my_account:hover{
    background: #e8e8e8;
    color: #000;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 1.3% 0;
    align-items: center;
}

nav > a {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: 700;
}

nav > a:hover {
    color: #f16d7f;
}

nav a:not(:last-of-type) {
    margin-right: 47px;
}

.slider-wrapper {
    background: url(img/section1_img.jpg) center center no-repeat;
}

.slider {
    display: flex;
}

.text-wrapper {
    margin-top: 19%;
    margin-bottom: 26%;
    padding-left: 26px;
    position: relative;
}

.text-wrapper::before{
    content: '';
    display: block;
    width: 12px;
    height: 86px;
    background: #f16d7f;
    position: absolute;
    top: 9px;
    left: 0;
}

.title {
    font-size: 60px;
    font-weight: 900;
    display: block;
}

.subtitle {
    font-size: 40px;
    font-weight: 900;
}

.subtitle > span{
    color: #f16d7f;
}

.categories {
    display: flex ;
    justify-content: space-between;
    margin-top: 6.5%;
    margin-bottom: 6.5%;
    
}

.category-wrap {
    position: relative;
    text-transform: uppercase;
    color: #222;
}

.category-title {
    position: absolute;
    top: 26px;
    left: 0;
    background: #fff;
    padding: 3%;
    font-size: 18px;
    font-weight: 900;
}

.category-title_special-case {
    font-size: 30px;
    color: #f16d7f;
    padding-top: 4px;
}

.category-title > span {
    display: block;
}

.category-wrap:first-child{
    margin-bottom: 3%;
}

.fetured-items-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.fetured-items-abstract {
    font-size: 14px;
    color: #9f9f9f;
    text-align: center;
    padding: 1% 0 5% 0;
}


.fetured-items_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fetured-item {
    text-transform: uppercase;
    font-size: 13px;
    color: #222;
    position: relative;
}

.add-to-cart-btn_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 24%;
    left: 0;
    background: #3a3838;
    opacity: 83%;
    display: none;
    text-align: center;
}

.add-to-cart-btn {
    background-image: url(img/cart-white.png);
    background-position: 8% center;
    background-repeat: no-repeat;
    background-color: #3a3838;
    padding: 4% 4% 4% 16%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

.add-to-cart-btn:hover {
    cursor: pointer;
}

.fetured-item {
    margin-bottom: 40px;
}

.fetured-item:hover .add-to-cart-btn_wrapper{
    display: block;
    padding-top: 38%;
    
}

.fetured-item:hover {
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.fetured-item-text {
    padding-left: 15px;
}

.fetured-item-title {
    padding-top: 19px;
}

.fetured-item-price {
    font-size: 16px;
    font-weight: 600;
    color: #f16d7f;
    padding: 20px 0;
}

.fetured-item-text > span {
    display: block;
}
